<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='displaycards.js') }}"></script>
</head>

<body>

  <!-- Navigation -->
  <!-- nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Blackjack example</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav -->

  <!-- Page Content -->
  <div class="container" style="margin-top: 20px">
    <div class="row">
      <div class="col-lg-12 text-left">        
        
		
		  <div id="gamestartform" class="form-row align-items-center gamestartform">
			<div>
			<span><h3>Game of 21</h3>
			<small class="form-text text-muted gamehint">Please enter your name and choose a game</small>
			</span>
			<div class="col-auto namerow">
			  <label class="sr-only" for="inlineFormInput">Name</label>
			  <input class="form-control mb-2" id="player_name" type="text" placeholder="Please enter your name" value="Your name">			  
			</div>			
			
			<div class="col-auto gamechoose">
			  <button class="btn btn-primary mb-2 gamechoose singleplayer" value="singleplayer">Singleplayer</button>
			  <button class="btn btn-primary mb-2 gamechoose multiplayer" value="multiplayer">Multiplayer</button>			
			  <div style="clear:both"></div>	
			</div>

			<div class="col-auto multiplayerform">
			  <button type="submit" class="btn btn-primary mb-2 startmultplayer" value="singleplayer">New game</button>			  
			<div id="multiplayer-dropdown" class="btn-group">
			  <button type="button" class="btn btn-success dropdown-toggle multigameselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Join existing
			  </button>
			  <div class="dropdown-menu">				
			  </div>
			</div>
			</div>
			</div>
			<input type="hidden" id="gameid" name="gameid" value="">
			<input type="hidden" id="gametype" name="gametype" value="">
			<input type="hidden" id="pid" name="pid" value="">
		  </div>
		
		<button type="button" class="btn btn-warning exitgame"style="float:left">
				Exit
		</button>
		</div>
    </div>
  </div>
		
   <div style="clear:left" /> 
		
	<div class="gamearea">
		<div class="deck container">
		<div class="row" style="margin-bottom:20px">
					<div class="col-centered" style="text-align:center">
						<span><h3 class="game-players">Game of 21</h3></span>						
						<div class="output form-text text-muted"></div>						
					</div>
				</div>			
			<div class="row">
					<div class="deck_box col-centered">
						<div class="deck_house_info"></div>
						<div class="deck_house"></div>
					</div>
				</div>
				<div class="row">
					<div class="deck_box col-left deck_box_1">
						<div class="deck_player_info"></div>
						<div class="deck_player" style="position:relative"></div>
						
					</div>
					<div class="deck_box col-right deck_box_2">
						<div class="deck_player2_info"></div>
						<div class="deck_player2"></div>
					</div>
				</div>					
			</div>
		 
		 
	 </div>

	
	
	
    <div style="position:fixed; bottom:20px; width:100%;">					
				<div class="playeractions_container">
				<div id="playeractions" class="col-centered">					  
					  <button id="hit" value="hit" name="hit" class="action btn btn-success">Hit</button>
					  <button id="stand" value="stand" name="stand" class="action btn btn-warning">Stand</button>
				  </div>
				  <div class="bettingform col-centered container" >
						<div class="row">
						<div class="input-group betgroup col-sm">
							<div class="input-group-prepend">
							<div class="input-group-text">€</div>
							</div>
							<input class="form-control" id="bet_amount" type="text" placeholder="Please enter amount" value="50">								  			  			  
						</div>
						<div class="col-sm betcolumn">
							<button type="button" class="btn btn-primary bet form-control" value="bet">Place bet</button>
						</div>
					</div>
					</div>
					</div>
			</div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>  
  <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='game21.js') }}"></script>
	
</body>

</html>
